.App {
  text-align: center;
  background-color: #bbabfc;
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0px;
}
/* HEADER */
.header {
  width: 100%;
  height: 170px;
  border-bottom: solid black 5px;
background-color: #bbabfc;
}

.headerText {
  width: 60%;
  position: relative;
  bottom: 140px;
  left: 250px;
}

.yingyangBlk {
  position: relative;
  right: 500px;

}

.yingyangWht {
  position: relative;
  left: 500px;
  bottom: 295px;
}
/* RESOURCES */
.resources {
  width: 30%;
    padding: 50px;
    font-weight: bold;
    margin-top: 0px;
    background: white;
}

.resourcesTitle {
  margin-top: 70px;

}

ul {
  list-style-type: none;
  font-size: 18px;
  position: relative;
  right: 20px;
}

.listItem {
  color: black;
  padding: 10px;
}

/* ABOUT PAGE */
.about {
  width: 70%;
  padding: 20px;
  font-weight: bold;
  height: 860px;
  background-color: white;
}

.aboutTitle{
  margin-top: 70px;
  border-bottom: 10px dotted #bbabfc;
  margin-bottom: 20px;
}

p.aboutP {
  font-size: 20px;
}

.aboutPar2 {
  position: relative;
  top: 30px;
  font-size: 20px;
}

.devLink {
  color: black;
    font-size: 15px;
    border: 5px solid;
    padding: 10px;
    background-color: #bbabfc;
    border-radius: 50px;
    position: relative;
    top: 120px;
}

/* LOG PAGE */
input {
  width: 100%;
  border: solid black 2px;
  border-radius: 15px;
  text-align: center;
  color: black;
}

.logPage {
  width: 70%;
  font-weight: bold;
  background-color: white;
}

.addTitle {
  margin-top: 20px;
}

.add-log {
  background: white;
  border: solid black 2px;
  border-radius: 10px;
  margin-left: 10px;
}

.addedTable {
  background: white;
  position: relative;
  right: 20px;
  background: white;
  border: solid black 2px;
  border-radius: 10px;
}

.toAboutLink {
  color: black;
  position: relative;
  left: 190px;
  top: 10px;
}

.toLogLink {
  color: black;
    position: relative;
    left: 190px;
    bottom: 15px;
    font-size: 20px;
    top: 20px;
    border: 5px solid;
    padding: 10px;
    background-color: #bbabfc;
    border-radius: 50px;
}

.toLogLink:hover {
  color: #bbabfc;
    position: relative;
    left: 190px;
    bottom: 15px;
    font-size: 20px;
    top: 20px;
    border: 5px solid #bbabfc;
    padding: 10px;
    background-color: black;
    border-radius: 50px;
  text-decoration: none;
}
.deletebtn {
  border: solid black 2px;
  border-radius: 15px;
}

.addBtn {
  border: solid black 2px;
  border-radius: 15px;
}

.logsTitle {
  margin-top: 20px;
}
