.App {
  text-align: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0px;
}
/* HEADER */
#header {
  width: 100%;
  height: 170px;
  border-bottom: solid black 5px;
  background-color: #bbabfc;
  justify-content: space-between;

}

.headerTitle {
  font-size: 5em;
}
#headerRow {
  position: relative;
  left: 5%;
}

#headerText {
  width: 70%;
  margin-top: 40px;
}

#yingyangBlk {
  /* position: relative;
  float: left;
  margin-left: 2%; */
}

.logsTitle {
border-bottom: 10px dotted rgb(187, 171, 252);
margin-top: 30px;
margin-bottom: 20px;
padding-bottom: 5px;
}
#yingyangWht {
  /* position: relative;
  left: 80%; */
  bottom: 140px;
}
/* RESOURCES */
.resources {
  width: 25%;
  padding: 30px;
    font-weight: bold;
position: relative;
    /* top: 30px; */
    background: white;
}
.resourcesList {
  list-style-type: none;
    font-size: 18px;
    right: 20px;
    border: 5px solid #000;
    border-radius: 50px;
    left: 2px;
    display: inline-block;
}
.resourcesTitle {
  margin-top: 100px;

}

.logsList {
list-style-type: none;
  font-size: 18px;
  position: relative;

  top: 10px;
  border-radius: 50px;
}

ul {

}

tr {
  background-color: #bbabfc;
  border: black 2px solid;
}

thead {
  border: black 2px solid;
}

.listItem {
  color: black;
  padding: 10px;
  position: relative;
  right: 10px;
}

.listItemNumber {
  color: black;

}

.listItemNumber:hover {
  color: #bbabfc;
  text-decoration: none;

}

.listItem:hover {
  color: #bbabfc;
  text-decoration: none;

}

/* ABOUT PAGE */
.about {
  width: 75%;
  padding: 20px;
  font-weight: bold;
  height: 860px;
  background-color: white;
}

.Title{
  margin-top: 70px;
  border-bottom: 10px dotted #bbabfc;
  margin-bottom: 20px;
}

p.aboutP {
  font-size: 30px;
  width: 80%;
  position: relative;
  left: 10%;
}


.devLink:hover {
  color: #bbabfc;
    position: relative;
    font-size: 15px;

    border: 5px solid #bbabfc;
    padding: 10px;
    background-color: black;
    border-radius: 50px;
  text-decoration: none;
  position: relative;
  top: 120px;
}

.devLink {
  color: black;
    font-size: 15px;
    border: 5px solid;
    padding: 10px;
    background-color: #bbabfc;
    border-radius: 50px;
    position: relative;
    top: 120px;
}

/* LOG PAGE */
input {
  width: 100%;
  border: solid black 2px;
  border-radius: 15px;
  text-align: center;
  color: black;
}

.logPage {
  width: 75%;
  font-weight: bold;
  background-color: white;
  padding-left: 15px;
padding-top: 20px;
}



.add-log {
  background: black;
  width: fit-content;
  margin-left: 10px;
    border-top: 15px solid #000;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.addedTable {


background: black;
    margin-left: 10px;
    border-top: 15px solid #000;
    border-left: 5px solid black;
width: fit-content;
    border-right: 5px solid black;
}
Table {
   background-color: black;
}
tbody tr:nth-child(odd) {
  background-color: #a899e2;
    border: black solid 2px;
}
tbody tr:nth-child(even) {
  background-color: #bbabfc;
border: black solid 2px;
}

.logsP {
  font-size: 20px;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;

}

.toAboutLink {
  color: black;
  position: relative;
  left: 190px;
  top: 10px;
}

.toLink {
  color: black;
  font-size: 20px;
  border: 5px solid;
  padding: 10px;
  background-color: #bbabfc;
  border-radius: 50px;
  text-align: center;
  position: relative;
  display: inline-block;
  left: 13%;
}

button:focus {outline:0;}
input:focus {outline:0;}

.toLink:hover {
  color: #bbabfc;
  position: relative;
  border: 5px solid #bbabfc;
  padding: 10px;
  background-color: black;
  border-radius: 50px;
  text-decoration: none;
}
.deletebtn {
  border: solid black 2px;
  border-radius: 15px;
}

.addBtn {
  border: solid black 2px;
  border-radius: 15px;
}

.Title {
  margin-top: 70px;
    border-bottom: #bbabfc dotted 10px;
    padding: 4px;
}
